@media (min-width: 1200px) {
  header {
    height: 10vh;
    background-color: #EEEEEE;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid black;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
      "."
      "."
      "."
      "."
      ".";
    /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    background-color: white;
    height: 90vh;
    row-gap: 1em;
  }

  h1,h2 {
    max-width: 30rem;
  }
}
