@media (min-width: 320px) and (max-width: 440px) {
    main {
        /* display: block; */
        background-color: blueviolet;
    }
    
    h1 {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: flex-end;
        font-size: 5vw;
      }
     
      h2 {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        align-self: space-around;
        font-size: 5vw;
      }
    
 }

 @media (min-width: 441px) and (max-width: 767px) { 
    main {
       /* display: block;  */
    }
    
    h1 {
        font-size: 140%;
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: flex-end;
        
      }
     
      h2 {
        font-size: 120%;
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        align-self: space-around;
      }
    
 }