@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira sans", "sans-serif";
  font: 100%/1.4;
  background: #eeeeee;
  height: 100vh;
  width: 100vw;
}

header {
  height: 10vh;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #c9b5b2;
}

header a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.logo {
  width: 15em;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "."
    "."
    "."
    "."
    ".";
  background-color: #eeeeee;
  height: 85vh;
}

.startbutton {
  background: linear-gradient(#b9005f 0%, #e30059 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.5em;
  width: 22em;
  border-radius: 0.5em;
  justify-self: center;
  align-self: flex-start;
  grid-column: 1;
  grid-row: 4;
}
.startbutton::after {
  content: "Begin hier!";
  font-size: 120%;
  color: #fff;
}

h1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: flex-end;
  max-width: 30rem;
}

h2 {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: space-around;
  max-width: 30em;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow: auto;
  height: 85vh;
}

/* Primair navigation menu */
#side-nav-primair {
  margin: auto;
  position: static;
}
#side-nav-primair ul li {
  display: inline-flex;
  margin: auto 2em;
}

/* side navigation menu */
#side-nav {
  display: flex;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid #b9005f;
  background-color: #b9005f;
  width: 11em;
  float: left;
  position: sticky;
  left: 0;
  top: 15vh;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.3em;
  font-size: 1.2em;
}

#side-nav ol li {
  list-style: decimal;
  color: white;
  padding: 5px;
}

#side-nav ol li .nav-button {
  color: white;
  border: none;
  font-family: "Fira sans", "sans-serif";
  font-size: 100%;
  text-align: left;
  background-color: #b9005f;
  text-decoration: none;
}

/* Categorie nav */
#side-nav-primair a {
  margin-top: 1em;
  text-decoration: none;
  color: #b9005f;
  text-align: center;
}

#side-nav .nav-button:hover {
  color: #c9b5b2;
  text-decoration: underline;
}

/* SVG Map Icons */
svg {
  height: 4em;
  width: 4.5em;
  padding: 1em;
}

#cards-section {
  /* padding: 2em; */
  margin-top: 5vh;
}

.card-heading {
  border-radius: 0.3em;
  color: #b9005f;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  background-color: white;
  padding: 1em;
  margin-bottom: 7em;
}

.card-heading ul {
  margin-top: 3em;
}

.card-heading ul li {
  margin-top: 1em;
  margin-left: 2em;
  font-size: 110%;

}

/* Tooltip container */
.tooltip {
  text-decoration: none;
  color: #b9005f;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #b9005f; 
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #b9005f;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -60px;
  left: 20px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  
}
.tooltip:hover {
  color: #c9b5b2;
}

/* Paragraphs */
.card-heading p {
  max-width: 30em;
  margin-top: 2em;
  font-size: 110%;
}

/* Button - Tip */
#expand-tip {
  position: absolute;
  margin: auto;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 5em;
  height: 2em;
  background-color: #c9b5b2;
}

.hide-show {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 5vh;
  width: 100vw;
  background-color: #b9005f;
  bottom: 0;
}

footer p {
  color: white;
}
