@media (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 10vh;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
      "."
      "."
      "."
      "."
      ".";
    /* display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; */
    background-color: white;
    height: 90vh;
    row-gap: 1em;
  }

  h1,
  h2 {
    max-width: 30rem;
  }
}
